transformers==4.50.0
tqdm==4.67.1
torch==2.6.0
scikit-learn==1.7.2
numpy==1.26.4
nltk==3.9.1
sentence-transformers==5.1.0
sentencepiece==0.2.1
protobuf==6.32.1
datasets==4.1.0
peft==0.17.1
trl==0.11.4
bitsandbytes==0.47.0
accelerate==1.10.1
tiktoken==0.11.0
pytest==8.4.2
openai==1.107.3
triton==3.2.0
statsmodels==0.14.5
seaborn==0.13.2
python-dotenv==1.1.1
vllm==0.8.2
#flash-attn==2.3.0